<div class="rounded overflow-hidden text-white">
    <div class="p-2 uppercase boxColor font-bold">
        recent activites
    </div>
    <div class="mainColor p-2 grid gap-y-5">
        {% for message in activity %}
            <div class="p-4 border rounded border-gray-100/30">
                <div class="flex items-center justify-between">
                    <div>
                        <div class="flex items-center space-x-3">
                            <img style="background-image:url('https://st.depositphotos.com/1371851/1256/i/600/depositphotos_12560182-stock-photo-handsome-man-with-eyeglasses.jpg')" class="w-8 h-8 coverImg rounded-full" alt="">
                            <div class="text-sm">
                                <p>
                                    <a href="{% url 'profile' message.user.id %}">
                                        {{ message.user }}
                                    </a>
                                </p>
                                <p class="text-xs">
                                    {{ message.create_at|timesince }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                         {% if message.user == request.user %}
                            <a href="{% url 'deleteMessage' message.id %}"> <i class="fas fa-times"></i> </a>
                         {% endif %}
                    </div>
                </div>
                <p class="text-sm mt-4 text-gray-100/50">replaied to post <a href="{% url 'room' message.room.id %}">"{{ message.room }}"</a></p>
                <div class="bodyColor mt-1 text-gray-100/70 rounded p-2 text-xs">
                    {{ message }}
                </div>
            </div>
        {% endfor %}


    </div>
</div>