{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

</head>
<body>
    {% include 'nav.html' %}

    <div class="w-4/12 mt-2 mx-auto">
        {% if messages %}
            {% for i in messages %}
                <p class="bg-red-500 py-1 text-center text-white rounded">{{ i }}</p>
            {% endfor %}
        {% endif %}
    </div>

    {% block content %}


    {% endblock %}
</body>
</html>